################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/be/src/MentorPlatform.API/appsettings.Development.json
